extends ../layout

block content
  .page-header
    h3 General

  form.form-horizontal(action='/sites/' + site._id + '?_method=PUT', method='POST', enctype="multipart/form-data")
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-2 control-label', for='title') Site Title
      .col-sm-8
        input.form-control(type='text', name='title', id='title' value=site.title, autofocus=true)
    .form-group
      label(class='col-sm-2 control-label', for='description') Site Description
      .col-sm-8
        input.form-control(type='text', name='description', id='description', value=site.description, autofocus=true)
    .form-group
      label(class='col-sm-2 control-label', for='logoImageUrl') Site Logo
      .col-sm-8
        input.form-control(type='file', name='logoImageUrl', id='logoImageUrl', accept='.jpg,.jpeg,.png', autofocus=true)
        if site.logoImageUrl
          img.logo(src=site.logoImageUrl )
    .form-group
      label(class='col-sm-2 control-label', for='coverImageUrl') Site Cover
      .col-sm-8
        input.form-control(type='file', name='coverImageUrl', id='coverImageUrl', accept='.jpg,.jpeg,.png', autofocus=true)
        if site.coverImageUrl
          img.logo(src=site.coverImageUrl )
    .form-group
      label(class='col-sm-2 control-label', for='faviconImageUrl') Site Favicon
      .col-sm-8
        input.form-control(type='file', name='faviconImageUrl', id='faviconImageUrl',accept='.jpg,.jpeg,.png', autofocus=true)
        if site.faviconImageUrl
          img.logo(src=site.faviconImageUrl )
    .form-group
      label(class='col-sm-2 control-label', for='facebookPageUrl') Facebook Profile URL
      .col-sm-8
        input.form-control(type='text', name='facebookPageUrl', id='facebookPageUrl', value=site.facebookPageUrl, autofocus=true)
    .form-group
      label(class='col-sm-2 control-label', for='twitterProfileUrl') Twitter Profile URL
      .col-sm-8
        input.form-control(type='text', name='twitterProfileUrl', id='twitterProfileUrl', value=site.twitterProfileUrl, autofocus=true)
    .form-group
      label(class='col-sm-2 control-label', for='email') Email
      .col-sm-8
        input.form-control(type='email', name='email', id='email', value=site.email, autofocus=true)
    .form-group
      label(class='col-sm-2 control-label', for='address') Address
      .col-sm-8
        input.form-control(type='text', name='address', id='address', value=site.address, autofocus=true)
    .form-group
      label(class='col-sm-2 control-label', for='theme') Theme
      .col-sm-8
        input.form-control(type='file', name='theme', id='theme', autofocus=true)
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(type='submit')
          i.fa.fa-save
          | Save
