extends ../layout

block styles
  link(rel='stylesheet', href='/css/lib/medium-editor/medium-editor.min.css')
  link(rel='stylesheet', href='/css/lib/medium-editor/themes/default.min.css')


block content
  .page-header
    h3 New Page

  form.form-horizontal(action='/sites/' + site._id + '/pages', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-2 control-label', for='title') Page Title
      .col-sm-8
        input.form-control(type='text', name='title', id='title', autofocus=true, required)
    .form-group
      label(class='col-sm-2 control-label', for='slug') Page Slug
      .col-sm-8
        input.form-control(type='text', name='slug', id='slug', autofocus=true)
    .form-group
      label(class='col-sm-2 control-label', for='content') Page Content
      .col-sm-8
        textarea.editable(name='content', id='content', required)
    .form-group
      label(class='col-sm-2 control-label', for='tags') Tags
      .col-sm-8
        input.form-control(type='text', name='tags', id='tags', autofocus=true)
    .form-group
      label(class='col-sm-2 control-label', for='meta-title') Meta Title
      .col-sm-8
        input.form-control(type='text', name='meta-title', id='meta-title', autofocus=true)
    .form-group
      label(class='col-sm-2 control-label', for='meta-description') Meta Description
      .col-sm-8
        textarea.form-control(rows='2', name='meta-description', id='meta-description')
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(name='is-published', type='submit', value='false')
          i.fa.fa-save
          | Save Draft
        button.btn.btn-primary(name='is-published', type='submit', value='true')
          i.fa.fa-paper-plane
          | Publish Now
        //- .btn-group
        //-   button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
        //-     | Save Draft 
        //-     span.caret
        //-   ul.dropdown-menu(role='menu')
        //-     li
        //-       a(href='#') Publish Now
        //-     li
        //-       a(href='#') Save Draft
        //-     li
        //-       a(href='#') Delete Post

    

    script(src='/js/lib/medium-editor.min.js')
    script.
      var editor = new MediumEditor('.editable', {
        spellcheck: false
      });
